<h1><%= t(".title") %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<% if user_signed_in? and current_user != @user %>
  <%= render 'follow_form' %> <br>
<% end %>

<%= link_to "フォロワー一覧", followers_user_path(@user) %> <br>
<%= link_to "フォロー一覧", following_user_path(@user) %> <br>

<br> <br>

<% if @user == current_user %>
  <%= link_to t(:delete, scope: %i[dictionary button]), current_user, method: :delete, data: { confirm: t(:delete, scope: %i[confirm]) } %>
  <br>
<% end %>
