<h1><%= t(".title") %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:icon) %>:</strong><br>
  <% if @user.icon.attached? %>
    <%= image_tag @user.icon.variant(resize: "200x200") %>
  <% else %>
    <p> まだアイコンはありません </p> <br>
  <% end %>
</p>

<% if @user == current_user %>
  <%= link_to t(:delete, scope: %i[dictionary button]), current_user, method: :delete, data: { confirm: t(:delete, scope: %i[confirm]) } %>
  <br>
<% end %>
