<h1>日報の詳細画面</h1>

<article>
  <h2><%= @report.title %></h2>
  <%= @report.reported_on %> <br>
  <%= @report.body %>
</article>

<br>

<% if user_signed_in? && current_user == @report.user %>
  <%= link_to "日報を編集する", edit_report_url(@report) %>
  <%= link_to "日報を削除する", @report, method: :delete, data: { confirm: t(:delete, scope: %i[confirm]) } %>
<% end %>

<br> <br>

<% if @comments.empty? %>
  <p>コメントはありません。</p>
<% else %>
  <table>
    <thead>
    <th>コメント</th>
    <th>作成者</th>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to comment.user.email, comment.user %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br> <br>

<% if user_signed_in? %>
  <%= form_with model: [@report, @report.comments.build] do |f| %>
    <div class="form-group">
        <%= f.label :body, 'コメント内容' %>
        <%= f.text_area :body, class: 'form-control', rows: 3 %>
        <%= f.hidden_field :report_id, value: @report.id %>
    </div>
    <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
  <% end %>
<% else %>
  <p>ログインすれば、日報にコメントできます</p>
<% end %>
