<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>RailsFjordBooks</title>
    <meta charse="utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <br>　<br>

    <%= link_to t(:books_index, scope: %i[dictionary button]), books_url %>  <br>
    <%= link_to t(:users_index, scope: %i[dictionary button]), users_url %>  <br>　<br>  

    <% if user_signed_in? %>

      <%= link_to t(:logout, scope: %i[dictionary button]), destroy_user_session_url, method: :delete %>
      <%= link_to t(:users_edit, scope: %i[dictionary button]), edit_user_registration_url %>
    <% else %>
      <%= link_to t(:login_with_github, scope: %i[dictionary button]), user_github_omniauth_authorize_path %>
    <% end %>
  </body>
</html>
