<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>RailsFjordBooks</title>
    <meta charse="utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <br>

    <%= link_to "書籍の一覧", books_url %>  <br>
    <%= link_to "ユーザーの一覧", users_url %>  <br>　<br>  

    <% if user_signed_in? %>
      <%= link_to "ログアウトする", destroy_user_session_url, method: :delete %>
      <%= link_to "プロフィール編集", edit_user_registration_url %>
    <% else %>
      <%= link_to "GitHubでログインする", user_github_omniauth_authorize_path %>
    <% end %>
  </body>
</html>
